*{
    margin: 0px;    
}
body{
    font-family: 'poppins';
    background-color: #dbdada;
}
h1{
    color: brown;
}
.benp{
    margin: 20px;
    padding: 20px;
    padding-bottom: 50px;
    
}
.beni {
    text-align: center;
    margin: 20px 0;
    border: 3px dotted #999;
    padding: 10px;
  }
  
  .beni img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .beni {
      margin: 10px 0;
      padding: 5px;
    }
  }
  
  .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }